<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magneto" translate="label" sortOrder="300">
            <label>Magneto</label>
        </tab>
        <section id="trackorder_config" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Track Order</label>
            <tab>magneto</tab>
            <resource>Magneto_Trackorder::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Options</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>